form {
    width: 90%;
    max-width: 300px;
    background: #fff;
    padding: 33px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


label {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #1E1E1F;
    margin-bottom: 26px;
}


textarea {
    background: #F9FBFC;
    border: 2px solid #202329;
    border-radius: 2px;
    box-shadow: 0 5px 50px #20232940;
    color: #1E1E1F;
    font-size: 20px;
    text-align: center;
    padding: 12px;
    height: 96px;
    width: calc(100% - 25px);
    resize: vertical;
}


textarea::placeholder {
    color: #A5A5A5;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 400;
}


textarea:focus {
    outline-color: #61DAFA;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}


.TodoForm-buttonContainer {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%
}


.TodoForm-button {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    color: #202329;
    font-weight: 400;
    width: 120px;
    height: 48px;
    border-radius: 2px;
    border: none;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}


.TodoForm-button--add {
    background: #61DAFA;
    transition: 0.3s ease;
}


.TodoForm-button--add:hover {
    background: #00c8ff;
    box-shadow: 0 5px 25px #00c8ff80;
    font-weight: bold;
}


.TodoForm-button--cancel {
    background: transparent;
    transition: 0.3s ease;
}


.TodoForm-button--cancel:hover {
    border: 2px solid #eb6363;
    box-shadow: 0 5px 25px #eb636388;
    font-weight: bold;
}