.TodoSearch {
  background-color: #F9FBFC;
  border-radius: 2px;
  border: 2px solid #202329;
  margin: 0 24px;
  height: 64px;
  width: calc(100% - 62px);
  font-size: 24px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-align: center;
  color: #1E1E1F;
  box-shadow: 0 5px 50px #20233340;
}

.TodoSearch::placeholder {
  color: #A5A5A5;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.TodoSearch:focus {
  outline-color: #61DAFA;
}